<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NHS Get Admin</title>
        <link rel="shortcut icon" type="image/png" href="../assets/brand/n.png">

        <!-- Bootstrap core CSS -->
        <link href="../../assets/dist/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../../assets/styles/nhsforms.css" rel="stylesheet">
    </head>

    <body class="text-center">
        <div class="form-nhs">
            <img class="mb-4" src="../../assets/brand/n.png" alt="" width="156" height="156">
            <h1 class="h3 mb-3 font-weight-normal">Get Admin form</h1>

            <span th:if="${errorMessage != null}" th:text="*{errorMessage}"></span>
            <!-- TODO: Incorporate this error message graphically, somewhere. -->

            <form id="form" class="form-nhs" method="GET" th:action="@{/admins/by-email}" th:object="${adminEmailForm}">

                <div class="form-label-group">
                    <input id="email" name="email" th:field="*{email}" type="text" class="form-control"
                           placeholder="Email">
                    <label for="email">Email</label>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <!-- TODO: Input errors can't leave the form tags. Maybe differentiate them from server errors...? -->
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Get Admin</button>
            </form>

            <br><br>
            <a href="/home-initial" class="btn btn-lg btn-secondary btn-block">Go back</a>
            <br><br>

            <p class="mt-5 mb-3 text-muted">&copy; 2020</p></div>
    </body>
</html>
