<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NHS Add Client App</title>
        <link rel="shortcut icon" type="image/png" href="../assets/brand/n.png">


        <!-- Bootstrap core CSS -->
        <link href="../../assets/dist/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../../assets/styles/nhsforms.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    </head>

    <body class="text-center">


        <form class="form-nhs" method="POST" th:action="@{/client-apps}" th:object="${clientAppDTO}">

            <img class="mb-4" src="../../assets/brand/n.png" alt="" width="156" height="156">
            <h1 class="h3 mb-3 font-weight-normal">Add Client App form</h1>

            <div class="form-label-group">
                <input id="name" name="name" th:field="*{name}" type="text" class="form-control"
                       placeholder="Name" autofocus>
                <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
                <label for="name">Name</label>
            </div>

            <div class="form-label-group">
                <input id="password" name="password" th:field="*{password}" type="password" class="form-control"
                       placeholder="Password" autofocus>
                <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>
                <label for="password">Password</label>
            </div>

            <div class="form-label-group">
                <select id="selectedRoleName" name="selectedRoleName" th:field="*{selectedRoleName}"
                        class="form-control">
                    <option id="disabled" value="" disabled selected>Please select a Role</option>
                    <option th:each="role : ${clientAppDTO.rolesList}" th:value="${role}" th:text="${role}"></option>
                </select>
                <span th:errors="*{selectedRoleName}" th:if="${#fields.hasErrors('selectedRoleName')}"></span>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Client App</button>

            <br><br>
            <a href="/home-initial" class="btn btn-lg btn-secondary btn-block">Go back</a>
            <br><br>

            <p class="mt-5 mb-3 text-muted">&copy; 2020</p></form>
    </body>
    <script>
        $("#disabled").attr("selected",true);

    </script>
</html>
