<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NHS Get Institution</title>
        <link rel="shortcut icon" type="image/png" href="../assets/brand/n.png">

        <!-- Bootstrap core CSS -->
        <link href="../../assets/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../../assets/styles/nhsforms.css" rel="stylesheet">
    </head>

    <body class="text-center">
        <div class="form-nhs">
            <img class="mb-4" src="../../assets/brand/n.png" alt="" width="156" height="156">
            <h1 class="h3 mb-3 font-weight-normal">Get Institution form</h1>

            <span th:if="${errorMessage != null}" th:text="*{errorMessage}"></span>
            <!-- TODO: Incorporate this error message graphically, somewhere. -->

            <form class="form-nhs" method="GET" th:action="@{/medical-institutions/by-cui}"
                  th:object="${institutionCuiForm}">

                <div class="form-label-group">
                    <input id="cui" name="cui" th:field="*{cui}" type="text" class="form-control"
                           placeholder="CUI">
                    <span th:errors="*{cui}" th:if="${#fields.hasErrors('cui')}"></span>
                    <label for="cui">CUI</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Get Institution</button>
            </form>

            <br><br>
            <a href="/home-initial" class="btn btn-lg btn-secondary btn-block">Go back</a>
            <br><br>

            <p class="mt-5 mb-3 text-muted">&copy; 2020</p></div>
    </body>
</html>
