<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NHS Admin Home</title>
        <link rel="shortcut icon" type="image/png" href="../assets/brand/n.png">

        <!-- Bootstrap core CSS -->
        <link href="/assets/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/assets/styles/nhsforms.css" rel="stylesheet">

        <link href="/assets/styles/home-initial.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
    </head>

    <body class="text-center form-nhs">
        <div class="form-nhs">
            <div th:include="home-initial :: categories"></div>

        </div>
        <br>
        <h1 class="h3 mb-3 font-weight-normal contents">Your last Institution request result:</h1>
        <br>
        <table class="table contents">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>CUI</th>
                    <th>TYPE</th>
                    <th>ADDRESS</th>
                    <th>PHONE NUMBER</th>
                    <th>EMAIL</th>
                    <th>WEBSITE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${institutionDTO.id}"></td>
                    <td th:text="${institutionDTO.name}"></td>
                    <td th:text="${institutionDTO.cui}"></td>
                    <td th:text="${institutionDTO.type}"></td>
                    <td th:text="${institutionDTO.address}"></td>
                    <td th:text="${institutionDTO.phoneNoRo}"></td>
                    <td th:text="${institutionDTO.email}"></td>
                    <td th:text="${institutionDTO.website}"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <a class="btn btn-lg btn-primary btn-block form-nhs " style="padding : 0.5rem 1rem" href="/home-initial">Clear
            Result</a>
        <br>
        <a href="/logout" class="btn btn-lg btn-danger btn-block">Logout</a>
        <br>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </body>
</html>
