<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NHS Update Doctor</title>
        <link rel="shortcut icon" type="image/png" href="../assets/brand/n.png">

        <!-- Bootstrap core CSS -->
        <link href="../../assets/dist/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>

        <!-- Custom styles for this template -->
        <link href="../../assets/styles/nhsforms.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    </head>

    <body class="text-center">
        <form class="form-nhs" method="POST" th:action="@{/doctors/updated-doctor}" th:object="${doctor}">

            <input id="cnp" name="cnp" th:field="*{cnp}" type="hidden">

            <img class="mb-4" src="../../assets/brand/n.png" alt="" width="156" height="156">
            <h1 class="h3 mb-3 font-weight-normal">Update Doctor form</h1>

            <div class="form-label-group">
                <input id="email" name="email" th:field="*{email}" type="email" class="form-control"
                       placeholder="Email address" autofocus>
                <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
                <label for="email">Email address</label>
            </div>

            <div class="form-label-group specialties">
                <select id="specialties" name="specialties" th:field="*{specialties}"
                        class="form-control selectpicker" multiple
                        data-live-search="true">
                    <option th:each="specialty : ${doctorSpecialties}" th:value="${specialty}"
                            th:text="${specialty}"></option>
                </select>
                <span th:errors="*{specialties}" th:if="${#fields.hasErrors('specialties')}"></span>
            </div>

            <div class="form-label-group title">
                <select id="title" name="title" th:field="*{title}" class="form-control selectpicker" multiple
                        data-live-search="true">
                    <option th:each="doctorTitle : ${doctorTitles}" th:value="${doctorTitle}"
                            th:text="${doctorTitle}"></option>
                </select>
                <span th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></span>
            </div>

            <div class="form-label-group institutions">
                <select id="institutions" name="institutions" th:field="*{institutionCUIs}"
                        class="form-control selectpicker"
                        multiple
                        data-live-search="true">
                    <option value="" selected disabled>Please select an institution</option>
                    <option th:each="institution : ${institutions}" th:value="${institution.cui}"
                            th:text="${institution.name}"></option>
                </select>
                <span th:errors="*{institutions}" th:if="${#fields.hasErrors('institutions')}"></span>
            </div>

            <div class="form-label-group">
                <input id="firstName" name="firstName" th:field="*{firstName}" type="text" class="form-control"
                       placeholder="First Name">
                <span th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></span>
                <label for="firstName">First Name</label>
            </div>

            <div class="form-label-group">
                <input id="lastName" name="lastName" th:field="*{lastName}" type="text" class="form-control"
                       placeholder="Last Name">
                <span th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></span>
                <label for="lastName">Last Name</label>
            </div>

            <div class="form-label-group">
                <input id="licenseNo" name="licenseNo" th:field="*{licenseNo}" type="text" class="form-control"
                       placeholder="License No.">
                <span th:errors="*{licenseNo}" th:if="${#fields.hasErrors('licenseNo')}"></span>
                <label for="lastName">License No.</label>
            </div>

            <div class="form-label-group">
                <input id="phoneNoRo" name="phoneNoRo" th:field="*{phoneNoRo}" type="text" class="form-control"
                       placeholder="Romanian Phone Number">
                <span th:errors="*{phoneNoRo}" th:if="${#fields.hasErrors('phoneNoRo')}"></span>
                <label for="phoneNoRo">Romanian Phone Number</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Update Doctor</button>

            <br><br>
            <a href="/home-initial" class="btn btn-lg btn-secondary btn-block">Go back</a>
            <br><br>

            <p class="mt-5 mb-3 text-muted">&copy; 2020</p></form>

        <script th:inline="javascript">

            $('select').selectpicker();
            let titleDiv = $('.title .filter-option-inner-inner');
            let specialtiesDiv = $('.specialties .filter-option-inner-inner');
            let titleArr = [[${doctor.title}]].split(',')
                .map(title => {
                    return title
                });
            let specialtiesArr = [[${doctor.specialties}]].split(',')
                .map(specialty => {
                    return specialty
                });
            if (specialtiesArr[0] != "") {
                $('.specialties .selectpicker').selectpicker('val', specialtiesArr);
            } else
                specialtiesDiv.html("Please select a specialty");
            if (titleArr[0] != "") {
                $('.title .selectpicker').selectpicker('val', titleArr);
            } else
                titleDiv.html("Please select a title");

            $('.institutions .filter-option-inner-inner').html("Please select an institution");


        </script>
    </body>
</html>
