<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NHS Add Role</title>
        <link rel="shortcut icon" type="image/png" href="../assets/brand/n.png">

        <!-- Bootstrap core CSS -->
        <link href="../../assets/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../../assets/styles/nhsforms.css" rel="stylesheet">
    </head>

    <body class="text-center">
        <span th:if="${errorMessage != null}" th:text="*{errorMessage}"></span>
        <!-- TODO: Incorporate this error message graphically, somewhere. -->

        <form class="form-nhs" method="POST" th:action="@{/roles}" th:object="${roleNameForm}">

            <img class="mb-4" src="../../assets/brand/n.png" alt="" width="156" height="156">
            <h1 class="h3 mb-3 font-weight-normal">Add Role form</h1>

            <div class="form-label-group">
                <input id="name" name="name" th:field="*{name}" type="text" class="form-control"
                       placeholder="Role name" autofocus>
                <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
                <label for="name">Role name</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Role</button>

            <br><br>
            <a href="/home-initial" class="btn btn-lg btn-secondary btn-block">Go back</a>
            <br><br>

            <p class="mt-5 mb-3 text-muted">&copy; 2020</p></form>
    </body>
</html>
